type bluetooth_device, dev_type;
type efs_block_device, dev_type;
# Fingerprint
type vfsspi_device, dev_type;
type validity_device, dev_type;
# Sensorhub
type sensorhub_device, dev_type;
# Alarm device for use by rild
type alarm_device, dev_type, mlstrustedobject;
