# define Tasker app domain
type np_tasker_app, domain;
typeattribute np_tasker_app coredomain;

# inherit unstrusted_app permissions
app_domain(np_tasker_app)
untrusted_app_domain(np_tasker_app)
net_domain(np_tasker_app)
bluetooth_domain(np_tasker_app)

# Additional permissions for Tasker
allow np_tasker_app sysfs_usb_devices:dir r_dir_perms;
allow np_tasker_app sysfs_usb_devices:lnk_file read;
allow np_tasker_app sysfs_msm_hsic_usb:dir r_dir_perms;
allow np_tasker_app sysfs_msm_hsic_usb:file r_file_perms;
allow np_tasker_app sysfs_msm_hsic_usb:lnk_file read;
