type vcsFPService, domain;
type vcsFPService_exec, exec_type, file_type;
init_daemon_domain(vcsFPService)

allow vcsFPService vfsspi_device:chr_file rw_file_perms;
allow vcsFPService validity_device:dir rw_dir_perms;
allow vcsFPService validity_device:file { create rw_file_perms };
allow vcsFPService validity_device:fifo_file { create rw_file_perms unlink };
allow vcsFPService validity_data_file:file { create rw_file_perms unlink };
allow vcsFPService validity_data_file:dir rw_dir_perms;
allow vcsFPService firmware_file:dir r_dir_perms;
allow vcsFPService firmware_file:file r_file_perms;
allow vcsFPService system_app:process signull;
allow vcsFPService system_app:unix_stream_socket connectto;
allow vcsFPService tee_device:chr_file rw_file_perms;
allow vcsFPService ion_device:chr_file r_file_perms;
