allow vendor_init wifi_vendor_data_file:file rw_file_perms;
allow vendor_init sysfs_sec_epen:file setattr;
allow vendor_init sysfs_sec_epen:lnk_file getattr;
allow vendor_init dalvikcache_data_file:dir search;

# allow relabel from sysfs to sysfs_usb_devices (needed in init.qcom.rc)
allow vendor_init sysfs:lnk_file relabelfrom;
allow vendor_init sysfs_usb_devices:lnk_file relabelto;
